hosts:
  - dev.sociium.io

environment:
  name: {{ .Environment.Name }}

imagePullSecrets:
  - name: messages-dockerconfigjson

app:
  name: messages
  version: 0.0.1
  group: backend
  image:
    repository: ghcr.io/millbj92/sociium_messages
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: latest
    containerPort: 5003
  service:
    type: ClusterIP
    port: 5003
  config:
    data:
      - key: DATABASE_URL
        value: {{ requiredEnv "MESSAGES_DB_URL" | quote }}
      - key: PORT
        value: 5003
      - key: KAFKA_BROKER_PORT
        value: "9092"
      - key: KAFKA_BROKER_HOST
        value: {{ requiredEnv "KAFKA_BROKER_HOST" | quote}}
      - key: KAFKA_SERVICE_NAME
        value: "MESSAGE_SERVICE"
      - key: KAFKA_CONSUMER_GROUP_ID
        value: "message-service-consumer"
      - key: KAFKA_CLIENT_ID
        value: "message-service-client"
