hosts:
  - dev.sociium.io

environment:
  name: {{ .Environment.Name }}

imagePullSecrets:
  - name: posts-dockerconfigjson

app:
  name: posts
  version: 0.0.1
  group: backend
  image:
    repository: ghcr.io/millbj92/sociium_posts
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: latest
    containerPort: 5005
  service:
    type: ClusterIP
    port: 5005
  config:
    data:
      - key: DATABASE_URL
        value: {{ requiredEnv "POSTS_DB_URL" | quote }}
      - key: PORT
        value: 5005
      - key: KAFKA_BROKER_PORT
        value: "9092"
      - key: KAFKA_BROKER_HOST
        value: {{ requiredEnv "KAFKA_BROKER_HOST" | quote }}
      - key: KAFKA_SERVICE_NAME
        value: "POST_SERVICE"
      - key: KAFKA_CONSUMER_GROUP_ID
        value: "post-service-consumer"
      - key: KAFKA_CLIENT_ID
        value: "post-service-client"
